body, html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(182, 182, 182);
    height: calc(100% - 0.4em);
    overflow: hidden;
    margin: 0.2em;
}

canvas{
    background-color: white;
    border-radius: 0.5em;
    /* width: 100%;
    height: calc(100% - 3.6em); */
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    image-rendering: pixelated;
}

.topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
}

.menu, .generation, .rate, .visualize{
    display: flex;
    align-items: center;
}

.menu{
    gap: 0.3em;
}

.generation{
    gap: 1em;
}

.rate{
    gap: 0.3em;
}

.visualize{
    gap: 0.3em;
}

.txt{
    font-size: 0.9em;
}

form{
    display: flex;
    gap: 0.5em;
    align-items: center;
}

input{
    background-color: #f0f2f5;
    box-sizing: border-box;
    border: 0.1em none;
    border-radius: 0.3em;
    font-size: 1.1em;
    height: auto;
    padding: 0.4rem;
}

.btn{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 0.1em none;
    border-radius: 0.4em;
    background-color: white;
    font-size: 1em;
    height: auto;
    padding: 0.1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    gap: 0.3em;
}

.btn:hover{
    background-color: aquamarine;
}

.btn-borderless{
    border: none;
}

.btn-lspace{
    padding-left: 0.7em;
}

.btn-rspace{
    padding-right: 1em;
}

.btn-only-labeled{
    padding: 0.3em 0.8em 0.3em;
}

.logo{
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
}

.vertical-line{
    border-left: 0.1em solid black;
    height: 1.5em;
}

#visualize-btn{
    background-color: aquamarine;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#visualize-btn:hover{
    background-color: rgb(108, 255, 152);
}

.visualization-speed{
    font-size: 1em;
    margin: 0 0.5em 0;
}

.tools-hidden{
    display: none;
}

.dropdown{
    font-size: 1em;
    min-width: 7em;
    position: relative;
    /* margin: 2em; */
}

.dropdown *{
    box-sizing: border-box;
}

.selected{
    margin-right: .3em;
}

.select{
    background-color: #f0f2f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3em;
    /* border-bottom: 1px solid black; */
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

.select-clicked{
    background-color: aquamarine;
}

.select:hover{
    background-color: aquamarine;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.listing{
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: aquamarine;
    color: black;
    /* border: 1px solid skyblue; */
    border-radius: 0.5em;
    position: absolute;
    /* top: 3em; */
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    /* transition: 0.2s; */
    z-index: 1;
}

.listing li{
    padding: 0.5em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.4em;
    cursor: pointer;
}

.listing li:hover{
    background-color: white;
    color: black;
}

.active{
    background-color: white;
    color: black;
}

.listing-open{
    display: block;
    opacity: 1;
}