

.menu, .generation, .rate, .visualize{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.btn{
    box-sizing: border-box;
    height: 100%;
    background-color: white;
    border: none;
    padding: 1%;
}

.logo{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin: 0%;
}

.vertical-line{
    border-left: 1px solid black;
    height: 25px;
}